<footer class="site-footer">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
 <script>
   $(document).ready(function () {
       $(window).scroll(function () {
           if ($(this).scrollTop() > 100) {
               $('.scrollup').stop().fadeTo(1, 300);
           } else {
               $('.scrollup').stop().fadeTo(300, 0);
           }
       });
       $('.scrollup').click(function () {
           $("html, body").animate({
               scrollTop: 0
           }, 600);
           return false;
       });
   });
 </script>
 <a href="#" class="scrollup"><i class="fa fa-arrow-circle-o-up"></i></a>

  <div style="text-align:center" class="wrapper footer">

   
    {% if site.version %}
    <p style="color: #777">Site Version {{site.version}}</p>
    {% endif %} 
    
 {% if site.credits %}
 <a href="https://blog.webjeda.com">Theme designed by Webjeda</a>
 {% endif %}
  </div>

</footer>
